/* .heading {
  color: blue;
}
#heading1 {
  background-color: beige;
}
.para {
  color: red;
}
#para {
  background-color: beige;
} */

#hema {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
